body {
    font-family: "Helvetica Neue";
}

aside {
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #DEDEDE;
    padding: 10px 20px;
    float: left;
}

h1 {
    margin-bottom: 10px;
    display: inline;
    font-size: 25px;
    vertical-align: middle;
}

h2 {
    font-size: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    color: #8E8F94;
}

button {
    border: none;
    color: #B7B8B9;
    background-color: #F6F7FB;
    display: inline-block;
    margin: 10px 0 10px 10px;
    padding: 5px;
    font-size: 10px;
    vertical-align: baseline;
}

.messages {
    float: left;
    position: absolute;
    left: 250px;
    right: 0px;
    /*padding: 20px;*/
}

table {
    width: 100%;
}

h2, td {
    padding: 0 20px;
}

td:nth-child(1) {
    width: 85%;
}

td:nth-child(2) {
    width: 15%;
    color: #8E8F94;
    font-style: italic;
    font-weight: lighter;
}

.odd {
    background-color: #F6F7FB;
}

.userName {
    font-weight: bold;
}